{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <twig:Button>Test</twig:Button>

    <twig:Button el="button" type="danger" class="mx-3">Button</twig:Button>

    <twig:Button href="{{ path('app_home') }}" icon="plus">Home</twig:Button>

    <twig:Card class="mt-3">
        <p>Lorem ipsum dolor sit amet consecttur adipisicing elit.</p>
    </twig:Card>

    <twig:Card class="mt-3">
        <p>Lorem ipsum dolor sit amet consecttur adipisicing elit. Animi ratione vitae voluptates eius ut! Maiores, dolorum cupiditate, dolores quis quod possimus quidem minus assumenda dolore, dignissimos unde pariatur vitae eum.</p>
        <twig:Button>Valider</twig:Button>
    </twig:Card>

    <twig:Card class="my-3">
        <twig:block name="header">
            <h2>Card title</h2>
        </twig:block>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi distinctio, deleniti eveniet debitis ad ratione amet tempora magnam perferendis rerum dolores necessitatibus atque error vero, culpa, fuga similique numquam consectetur.
    </twig:Card>
{% endblock %}