{% props icon = null, type = 'primary', el = 'a' %}

<{{el}} {{ attributes.defaults({ class: 'btn btn-'~type } ) }}>
	{% if icon %}
		<span class="fas fa-{{ icon }} me-1"></span>
	{% endif %}
    {% block content %}{% endblock %}
</{{el}}>