{% props type = 'primary' %}

<div {{ attributes.defaults({ class: 'card' } ) }}>
    {% if block('header') is defined %}
        <div class="card-header">{{ block('header')|raw }}</div>
    {% endif %}

    <div class="card-body">
        {% block content %}{% endblock %}
    </div>

    {% if block('footer') is defined %}
        <div class="card-footer">{{ block('footer')|raw }}</div>
    {% endif %}
</div>
